.article-container {
  display: flex;
}

@media only screen and (max-width: 768px) { 
  .article-container {
    display: block;
  }
}

.article-container .article-image {
  height: 100%;
  display: block;
  width: 100%;
  max-height: 10rem;
}

.article-container .text-container { 
  flex: 1;
  text-align: left;
  padding: 1rem 2rem;
}

.article-container .article-image-container {
  flex: 1;
  padding: 1rem;
}