.awaz-button {
  background-color: #ec4b60;
  color: white;
  padding: 1rem;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
}

.awaz-link {
  text-decoration: none;
  color: #505050;
  font-weight: bold;
}

/* Initially hide mobile container */
.desktop-container {
  display: block;
}

.mobile-container {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop-container {
    display: none;
  }
  .mobile-container {
    display: block;
  }
}