.desktop-header-container, .mobile-header-container { 
  display: flex;
  padding: 0.5rem;
  border-bottom: #cdcdcd 1px solid;
}

.logo-container {
  flex: 1;
}

.logo-container .logo {
  height: 3rem;
}

.desktop-header-container .link-container, .mobile-header-container .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.mobile-header-container .menu-container {
  cursor: pointer;
}

.desktop-header-container .link-container .link {
  text-decoration: none;
  color: #505050;
  font-weight: bold;
}

.desktop-header-container .link-container .link:active {
  color: #ec4b60;
}

.footer-container {
  background-color: #ec4b60;
}

.footer-container .desktop-footer-container {
  display: flex;
  flex-grow: 1;
}

.footer-container .desktop-footer-container div{
  flex: 1;
}

.footer-container .desktop-footer-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .desktop-footer-container .footer-column {
  text-align: center;
}

.footer-container .desktop-footer-container .footer-title {
  color: white;
}

.footer-container .desktop-footer-container .footer-item {
  padding: 0.5rem;
}

.footer-container .copy-right {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem;
}

.mobile-footer-container {
  padding: 1rem;
}